# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Slides
material_curso/
/cpp_moderno_avançado/.ipynb_checkpoints/
/cpp_moderno_avançado/Untitled.ipynb
/cpp_moderno_avançado/erase.cpp.zip
/cpp_moderno_avançado/find.cpp.zip
